<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>108780648961-lorc9e7jpd498go4uovge8mm8n9ga7ih.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.108780648961-lorc9e7jpd498go4uovge8mm8n9ga7ih</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>108780648961-3n4pc2pacis56jd03r5bufma2d4lmmvq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyABGvfp-zQf7Dg7jg1bWsScIPn1Z1B3h7c</string>
	<key>GCM_SENDER_ID</key>
	<string>108780648961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zinggoSocial</string>
	<key>PROJECT_ID</key>
	<string>signin-76320</string>
	<key>STORAGE_BUCKET</key>
	<string>signin-76320.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108780648961:ios:611e8f88f3f131050c5e00</string>
</dict>
</plist>